<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title><h:outputText value="#{userBean.salida}"/></title>
            </f:facet>
        </h:head>

        <h:body>

            <h1>Formulario de Salida</h1>

            <h:form id="formulario">

                <p:growl id="growl" autoUpdate="true" showDetail="true" showSummary="true"/>
                <p:panelGrid columns="2">

                    <p:outputLabel value="Nombres: " for="names"/>
                    <p:inputText value="#{userBean.names}" id="names" required="true" requiredMessage="Se requieren los nombres"/>

                    <p:outputLabel value="Apellidos: " for="lastNames"/>
                    <p:inputText value="#{userBean.lastNames}" id="lastNames" required="true" requiredMessage="Se requieren los apellidos"/>
                    <f:facet name="footer">
                        <p:commandButton id="boton" value="Saludar" actionListener="#{userBean.saveUser}" update=":formulario:growl"/>
                    </f:facet>
                </p:panelGrid>

            </h:form> 

        </h:body>

    </f:view>
</html>

