<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title><h:outputText value="#{userBean.salida}"/></title>
            </f:facet>
        </h:head>

        <h:body>

            <h1>Formulario de Salida</h1>

            <h:form id="formulario">

                <p:growl id="growl" autoUpdate="true" showDetail="true" showSummary="true"/>
                <p:panelGrid id="forma" columns="2">

                    <p:outputLabel value="Nombres: " for="nombres"/>
                    <p:inputText value="#{usuarioBean.user.nombres}" id="nombres" required="true" requiredMessage="Se requieren los nombres"/>

                    <p:outputLabel value="Apellidos: " for="apellidos"/>
                    <p:inputText value="#{usuarioBean.user.apellidos}" id="apellidos" required="true" requiredMessage="Se requieren los apellidos"/>

                    <p:outputLabel value="Fecha de Nacimiento: " for="fechanac"/>
                    <p:calendar id="fechanac" value="#{usuarioBean.user.fechanac}" navigator="true" yearRange="-100" showOn="button" 
                                required="true" requiredMessage="Se requiere la fecha de nacimiento"/>

                    <f:facet name="footer">
                        <p:commandButton id="boton" value="Guardar" actionListener="#{usuarioBean.saveUser}" update=":formulario:growl,:formulario:forma"/>
                    </f:facet>
                </p:panelGrid>

            </h:form> 

        </h:body>

    </f:view>
</html>

