<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>Bienvenidos al Sistema</title>
            </f:facet>
        </h:head>

        <h:body>

            <h1>Ejemplos Integración JSF/Spring</h1>

            <h:form id="form1">

                <p:menubar> 

                    <p:submenu label="Opciones" icon="ui-icon-document">  
                        <p:submenu label="Ejemplos" icon="ui-icon-contact">  
                            <p:menuitem value="Pantalla Original Mkyong" action="default?faces-redirect=true" />  
                            <p:menuitem value="Formulario Ejemplo" action="defaultForm?faces-redirect=true" />  
                            <p:menuitem value="Formulario entrada de datos Usuario" action="formularioUsuario?faces-redirect=true"/>
                        </p:submenu>  
                       
                    </p:submenu>  


                </p:menubar>


            </h:form>

        </h:body>

    </f:view>
</html>

